<div class="panel panel-primary" id="main-container">
    <form [formGroup]="productForm" novalidate (ngSubmit)="saveProduct(productForm.value)">

        <div class="panel-heading">
            <h4><i class="fa fa-id-card-o" aria-hidden="true"></i> Product Information</h4>
        </div>

        <div class="panel-footer">
            <button type="button" class="btn btn-default" (click)="cancelOpertation()">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i> Close
            </button>
            <button type="button" [disabled]="isEditable || isAdding" class="btn btn-default" (click)="editProduct()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
            </button>
            <button type="submit" [disabled]="((!isEditable) && (!isAdding)) || (!productForm.valid)" class="btn btn-default">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            </button>
            <button type="button" [disabled]="isEditable || isAdding" class="btn btn-default" (click)="addProduct(productForm.value)">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
            </button>
        </div>
        <div *ngIf="productForm.valid || !productForm.pristine">
            <div class="error-panel">
                <h4>Error Messages</h4>
                <validation-messages [control]="productForm.controls.productName" [controlname]="'productName'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="productForm.controls.quantityPerUnit" [controlname]="'quantityPerUnit'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="productForm.controls.unitPrice" [controlname]="'unitPrice'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="productForm.controls.unitsInStock" [controlname]="'unitsInStock'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="productForm.controls.unitsOnOrder" [controlname]="'unitsOnOrder'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="productForm.controls.reorderLevel" [controlname]="'reorderLevel'" [validations]="validationRules"></validation-messages>
            </div>
        </div>
        <hr />
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Product ID</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label">{{product.productID}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Product Name</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{product.productName}}</label>
                        <input id="productName" formControlName="productName" type="text" class="form-control" placeholder="Product Name" [(ngModel)]="product.productName" *ngIf="isEditable || isAdding" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Category</label>
                    </div>
                    <div class="col-sm-8">
                        <div *ngIf="!isEditable && !isAdding">
                            <label class="control-label" *ngFor="let category of (categories | namefilter: setFilterCriteria('categoryID', product.categoryID))">{{category.categoryName}}</label>
                        </div>
                        <div>
                            <select class="form-control" [(ngModel)]="product.categoryID" formControlName="categoryID" *ngIf="isEditable || isAdding" required>
                                <option *ngFor="let category of categories" [value]="category.categoryID" [selected]="product.categoryID == category.categoryID">{{category.categoryName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Supplier</label>
                    </div>
                    <div class="col-sm-8">
                        <div *ngIf="!isEditable && !isAdding">
                            <label class="control-label" *ngFor="let supplier of (suppliers | namefilter: setFilterCriteria('supplierID', product.supplierID))">{{supplier.companyName}}</label>
                        </div>
                        <div>
                            <select class="form-control" [(ngModel)]="product.supplierID" formControlName="supplierID" *ngIf="isEditable || isAdding" required>
                                <option *ngFor="let supplier of suppliers" [value]="supplier.supplierID" [selected]="product.supplierID == supplier.supplierID">{{supplier.companyName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Quantity per Unit</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{product.quantityPerUnit}}</label>
                        <input id="quantityPerUnit" formControlName="quantityPerUnit" type="text" class="form-control" placeholder="Quantity Per Unit" [(ngModel)]="product.quantityPerUnit" *ngIf="isEditable || isAdding" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Unit Price</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{product.unitPrice}}</label>
                        <input id="unitPrice" formControlName="unitPrice" type="text" class="form-control" placeholder="Unit Price" [(ngModel)]="product.unitPrice" *ngIf="isEditable || isAdding" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Stock</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{product.unitsInStock}}</label>
                        <input id="unitsInStock" formControlName="unitsInStock" type="text" class="form-control" placeholder="Units in Stock" [(ngModel)]="product.unitsInStock" *ngIf="isEditable || isAdding" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Orders</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{product.unitsOnOrder}}</label>
                        <input id="unitsOnOrder" formControlName="unitsOnOrder" type="text" class="form-control" placeholder="Units on Order" [(ngModel)]="product.unitsOnOrder" *ngIf="isEditable || isAdding" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Reorder Level</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{product.reorderLevel}}</label>
                        <input id="reorderLevel" formControlName="reorderLevel" type="text" class="form-control" placeholder="Reorder Level" [(ngModel)]="product.reorderLevel" *ngIf="isEditable || isAdding" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Discontinued</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{product.discontinued}}</label>
                        <input id="discontinued" formControlName="discontinued" type="checkbox" class="form-control" [(ngModel)]="product.discontinued" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>