################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrderManagement/Hk.Application1.Core/bin/Debug
/OrderManagement/Hk.Application1.Core/obj/Debug
/OrderManagement/Hk.Application1.Data/bin/Debug
/OrderManagement/Hk.Application1.Data/obj/Debug
/OrderManagement/Hk.Application1.Repository/bin/Debug
/OrderManagement/Hk.Application1.Repository/obj/Debug
/OrderManagement/Hk.Application1.Repository.Interface/bin/Debug
/OrderManagement/Hk.Application1.Repository.Interface/obj/Debug
/OrderManagement/Hk.Application1.Repository.Interface/obj/Debug
/OrderManagement/Hk.Application1.ServiceIntegration/bin/Debug
/OrderManagement/Hk.Application1.ServiceIntegration/obj/Debug
/OrderManagement/Hk.Services.Application/bin/Debug
/OrderManagement/Hk.Services.Application/obj/Debug
/OrderManagement/Hk.Services.Application1/bin
/OrderManagement/Hk.Services.Application1/obj/Debug
/OrderManagement/Hk.Services.AuthService/bin
/OrderManagement/Hk.Services.AuthService/obj/Debug
/OrderManagement/Hk.Services.TTAuthService/bin
/OrderManagement/Hk.Services.TTAuthService/obj/Debug
/OrderManagement/Hk.Utilities/bin/Debug
/OrderManagement/Hk.Utilities/obj/Debug
/OrderManagement/MultiProjectSample/bin
/OrderManagement/MultiProjectSample/build
/OrderManagement/MultiProjectSample/node_modules
/OrderManagement/MultiProjectSample/obj/Debug
/OrderManagement/packages
/OrderManagement/DatabaseProject/DatabaseProject.dbmdl
/OrderManagement/DatabaseProject/DatabaseProject.jfm
/OrderManagement/DatabaseProject/bin/Debug
/OrderManagement/DatabaseProject/obj/Debug
/OrderManagement/Hk.TestCoverage/bin/Debug
/OrderManagement/Hk.TestCoverage/obj/Debug
