<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Website Name</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span>Categories &nbsp;</span>
                        <span class="suffix fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/viewCategories']">Categories</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span>Customers &nbsp;</span>
                        <span class="suffix fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/viewCustomersList']">Customers</a></li>
                        <li><a [routerLink]="['/customerOnMap']">Customers on Map</a></li>
                        <li><a [routerLink]="['/searchCustomer']">Search Customer</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span>Products &nbsp;</span>
                        <span class="suffix fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/viewProductsList']">Products</a></li>
                        <li><a [routerLink]="['/addProduct']">Add Product</a></li>
                        <li><a [routerLink]="['/searchProduct']">Search Product</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span>Suppliers &nbsp;</span>
                        <span class="suffix fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/viewSuppliersList']">Suppliers</a></li>
                        <li><a [routerLink]="['/addSupplier']">Add Supplier</a></li>
                        <li><a [routerLink]="['/searchSupplier']">Search Supplier</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span>Orders &nbsp;</span>
                        <span class="suffix fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/viewOrdersList']">Orders</a></li>
                        <li><a [routerLink]="['/addOrder']">Add Order</a></li>
                        <li><a [routerLink]="['/searchOrder']">Search Order</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a [routerLink]="['/dashboard']" (click)="onLogOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>