<div class="panel panel-primary" id="main-container">
    <form [formGroup]="supplierForm" novalidate (ngSubmit)="saveSupplier(supplierForm.value)">

        <div class="panel-heading">
            <h4><i class="fa fa-id-card-o" aria-hidden="true"></i> Supplier Information</h4>
        </div>

        <div class="panel-footer">
            <button type="button" class="btn btn-default" (click)="cancelOpertation()">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i> Close
            </button>
            <button type="button" [disabled]="isEditable || isAdding" class="btn btn-default" (click)="editSupplier()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
            </button>
            <button type="submit" [disabled]="((!isEditable) && (!isAdding)) || (!supplierForm.valid)" class="btn btn-default">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            </button>
            <button type="button" [disabled]="isEditable || isAdding" class="btn btn-default" (click)="addSupplier(supplierForm.value)">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
            </button>
        </div>
        <div *ngIf="!supplierForm.valid && (isEditable || isAdding)">
            <div class="error-panel">
                <h4>Error Messages</h4>
                <validation-messages [control]="supplierForm.controls.companyName" [controlname]="'companyName'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.contactName" [controlname]="'contactName'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.contactTitle" [controlname]="'contactTitle'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.address" [controlname]="'address'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.city" [controlname]="'city'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.region" [controlname]="'region'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.postalCode" [controlname]="'postalCode'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.country" [controlname]="'country'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.phone" [controlname]="'phone'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.fax" [controlname]="'fax'" [validations]="validationRules"></validation-messages>
                <validation-messages [control]="supplierForm.controls.homePage" [controlname]="'homePage'" [validations]="validationRules"></validation-messages>
            </div>
        </div>
        <hr />
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Supplier ID</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label">{{supplier.supplierID}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Company Name</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.companyName}}</label>
                        <input id="companyName" formControlName="companyName" type="text" class="form-control" placeholder="Company Name" [(ngModel)]="supplier.companyName" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Contact Name</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.contactName}}</label>
                        <input id="contactName" formControlName="contactName" type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="supplier.contactName" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Contact Title</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.contactTitle}}</label>
                        <input id="contactTitle" formControlName="contactTitle" type="text" class="form-control" placeholder="Contact Title" [(ngModel)]="supplier.contactTitle" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Address</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.addressModel.address}}</label>
                        <input id="address" formControlName="address" type="text" class="form-control" placeholder="Address" [(ngModel)]="supplier.addressModel.address" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">City</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.addressModel.city}}</label>
                        <input id="city" formControlName="city" type="text" class="form-control" placeholder="City" [(ngModel)]="supplier.addressModel.city" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Region</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.addressModel.region}}</label>
                        <input id="region" formControlName="region" type="text" class="form-control" placeholder="Region" [(ngModel)]="supplier.addressModel.region" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Postal Code</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.addressModel.postalCode}}</label>
                        <input id="postalCode" formControlName="postalCode" type="text" class="form-control" placeholder="Postal Code" [(ngModel)]="supplier.addressModel.postalCode" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Country</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.addressModel.country}}</label>
                        <input id="country" formControlName="country" type="text" class="form-control" placeholder="Country" [(ngModel)]="supplier.addressModel.country" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Phone</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.communicationModel.phone}}</label>
                        <input id="phone" formControlName="phone" type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="supplier.communicationModel.phone" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Fax</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.communicationModel.fax}}</label>
                        <input id="fax" formControlName="fax" type="text" class="form-control" placeholder="Fax Number" [(ngModel)]="supplier.communicationModel.fax" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Home Page Url</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="control-label" *ngIf="!isEditable && !isAdding">{{supplier.communicationModel.homePage}}</label>
                        <input id="homePage" formControlName="homePage" type="text" class="form-control" placeholder="Home Page Url" [(ngModel)]="supplier.communicationModel.homePage" *ngIf="isEditable || isAdding" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>