$color-black: #000;
$color-white: #fff;
$color-red: #f00;
$color-green: #0f0;
$color-yellow: #ff0;
$color-magenta: #e6007e;
$color-cyan: #009fe3;
$color-red-dark: #c60c30;
$color-blue-dark: #002664;
$color-highlight-green: #9f0;
$color-highlight-yellow: #cf0;

$color-gray-dark-black-most: #0d0d0d;
$color-gray-dark-black: #292a2a;
$color-gray-dark-most: #383838;
$color-gray-dark-mid: #474747;
$color-gray-dark-gradient: #4f4f4f;
$color-gray-dark-least: #5c5c5c;
$color-gray-medium: #858585;
$color-gray-dark-shadow: #959595;
$color-gray-light: #bbb;
$color-gray-light-most1: #d0d1d5;
$color-gray-light-shadow: #dcdcdc;
$color-gray-light-most2: #dfe0e4;
$color-gray-light-most3: #e5e6e9;
$color-gray-light-white: #eee;

$color-primary-dark-black: #2d420c;
$color-primary-dark-most: #3f5916;
$color-primary-dark-gradient: #49651e;
$color-primary-dark: #557521;
$color-primary-mid: #87aa4c;
$color-primary-light: #407108;
$color-primary-light-gradient: #91bb53;
$color-primary-pale: #c1d7a0;
$color-primary-pale-white: #ecf2e3;

$color-sidebar-background:#203513;
$color-sidebar-header-text:#f5f5f5;
$color-sidebar-mainitem-background:#307171;

$color-minubar-background:#203513;
$color-minubar-header-text:#f5f5f5;
