@import "_colors.scss";
@import "_fonts.scss";

body {
    background: $color-gray-dark-black;
    font-family: $font-family-roboto, $font-family-arial, $font-family-helvetica, $font-family-sansserif;
    font-size: $font-size-body;
}

.continer{
    padding-right:10px;
    padding-left:10px;
    margin-right:5px;
    margin-left:5px;
    width:inherit;
}

.navbar-inverse{
    background-color:#5b5d6b;
}

.navbar-inverse .navbar-nav > li > a{
    color:$color-white;
}

.sidebar{
    background:$color-blue-dark;
    color:$color-sidebar-header-text;
    margin:0px;
    padding:0px;

    .sidebar-heading{
        background:$color-gray-dark-least;
        color:$color-white;
        font-size:20px;
        text-align:center;
        font-family:$sidebar-header-font-family;
        padding:5px;
        margin-bottom:5px;
    }
    .sidebar-main-item{
        background:$color-sidebar-mainitem-background;
        color:$color-white;
        text-align:left;
        span{
            background:$color-sidebar-mainitem-background;
            color:$color-white;
            text-align:center;
            margin-left:10px;
        }
        ul{
            margin:0px;
            padding:0px;
            list-style-type:none;
            li{
                background:none;
                padding:0px;
                list-style-type:none;
            }
        }
    }
    .sidebar-sub-item{
        background:$color-white;
        color:$color-black;
       a{
            background:$color-white;
            color:$color-black;
            text-align:left;
        }
       ul{
           margin:0px;
           padding:0px;
           list-style-type:none;
           li{
               background:none;
               padding:0px;
               list-style-type:none;
               text-align:left;
               margin-left:20px;
               a{
                   vertical-align:-webkit-baseline-middle;
                   cursor:pointer;
                   text-decoration:none;
               }
           }
           li:hover{
               background-color:$color-gray-dark-gradient;
               margin-left:0px;
               padding-left:20px;
               a{
                   background-color:$color-gray-dark-gradient;
                   color:$color-white;
               }
           }
       }
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $color-black;
    font-family: $font-family-roboto, $font-family-arial, $font-family-helvetica, $font-family-sansserif;
    font-weight: $font-weight-header;
    line-height: 1.1;
    text-align: left;
}