@import "_colors.scss";
@import "_fonts.scss";

@media (min-width: 1200px){
    .container {
        padding-right:10px;
        padding-left:10px;
        margin-right:5px;
        margin-left:5px;
        width: inherit;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 360px) {

}

@media (max-width: 320px) {

}
