@import "_colors.scss";
@import "_fonts.scss";

body {
    background: $color-gray-dark-black;
    font-family: $font-family-roboto, $font-family-arial, $font-family-helvetica, $font-family-sansserif;
    font-size: $font-size-body;
}

.continer{
    padding-right:10px;
    padding-left:10px;
    margin-right:5px;
    margin-left:5px;
    width:inherit;
}

.navbar-inverse{
    background-color:#5b5d6b;
}

.navbar-inverse .navbar-nav > li > a{
    color:$color-white;
}

.sidebar{
    background:$color-blue-dark;
    color:$color-sidebar-header-text;
    margin:0px;
    padding:0px;

    .sidebar-heading{
        background:$color-gray-dark-least;
        color:$color-white;
        font-size:20px;
        text-align:center;
        font-family:$sidebar-header-font-family;
        padding:5px;
        margin-bottom:5px;
    }
    .sidebar-main-item{
        background:$color-sidebar-mainitem-background;
        color:$color-white;
        text-align:left;
        span{
            background:$color-sidebar-mainitem-background;
            color:$color-white;
            text-align:center;
            margin-left:10px;
        }
        ul{
            margin:0px;
            padding:0px;
            list-style-type:none;
            li{
                background:none;
                padding:0px;
                list-style-type:none;
            }
        }
    }
    .sidebar-sub-item{
        background:$color-white;
        color:$color-black;
       a{
            background:$color-white;
            color:$color-black;
            text-align:left;
        }
       ul{
           margin:0px;
           padding:0px;
           list-style-type:none;
           li{
               background:none;
               padding:0px;
               list-style-type:none;
               text-align:left;
               margin-left:20px;
               a{
                   vertical-align:-webkit-baseline-middle;
                   cursor:pointer;
                   text-decoration:none;
               }
           }
           li:hover{
               background-color:$color-gray-dark-gradient;
               margin-left:0px;
               padding-left:20px;
               a{
                   background-color:$color-gray-dark-gradient;
                   color:$color-white;
               }
           }
       }
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $color-black;
    font-family: $font-family-roboto, $font-family-arial, $font-family-helvetica, $font-family-sansserif;
    font-weight: $font-weight-header;
    line-height: 1.1;
    text-align: left;
}

.card{
    border:solid,2px;
    background:$color-gray-dark-gradient;
    color:$color-white;
    text-align:left;
    margin: 10px auto 20px auto;
    .card-image{
        img{
            width:250px;
            height:150px;
        }
    }
    .card-title{
        background:$color-gray-dark-most;
        border: none;
        color: $color-white;
        padding:5px;
        h4{
            color:$color-white;
        }
    }
    .card-content{
        ul{
            display:block;
            padding:0px;
            list-style-type:none;
            li{
               background:$color-gray-dark-gradient;
               padding:0px;
               list-style-type:none;
                /*a{
                    color:$color-white;
                    fa{
                        display:block;
                        text-align:right;
                    }
                }*/
                a,
                a:active,
                a:focus,
                a:hover,
                a:link {
                    clear: both;
                    display: block;
                    padding: 8px 10px;
                    text-decoration: none;
                    white-space: normal;
                }

                a.expander{
                    background: $color-gray-dark-mid;
                    border-bottom: 1px solid $color-gray-dark-least;
                    color: $color-white;
                    font-size: 1.1em;
                    position: relative;
                    text-decoration: none;

                    .fa {
                        display: block;
                        font-size: 1.5em;
                        margin-left: auto;
                        margin-right: 0;
                        position: absolute;
                        right: 10px;
                        top: 8px;
                    }
                }

                a.expander:focus,
                a.expander:hover,
                a.expander.expanded {
                    color: $color-white;
                }

                ul {
                    li {
                        background: $color-gray-light-most1;
                        border-bottom: 1px solid $color-gray-light-most2;

                        a {
                            color: $color-black;
                            font-size: 1.1em;
                            font-weight: 500;
                            line-height: 1.42;
                        }

                        a:focus,
                        a:hover {
                            background: $color-white;
                            color: $color-black;
                            font-weight: 600;
                        }
                    }

                    li:last-of-type {
                        border-bottom: none;
                    }

                    li[selected] {
                        border: none;
                        border-bottom: 1px solid $color-gray-light-most2;

                        a {
                            background: $color-gray-light-white;
                            color: $color-black;
                            cursor: default;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    .card-footer{
        width:250px;
        height:50px;
        small{
            text-wrap:inherit;
            color:$color-gray-light;
        }
    }
}

.ng-valid, .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $color-validation-success;
}
.ng-invalid:not(form)  {
  border-left: 5px solid $color-validation-failed;
}

.panel{
    .panel-heading{
        background:$color-panel-heading;
        h1,h2,h3,h4,h5,h6{
            color:$color-white;
        }
    }

    .panel-footer{
        background:$color-panel-footer;
    }
}

.error-panel{
    color: $color-error-text;
    background-color: $color-error-background;
    border-color: $color-error-border;
    padding: 15px;
    margin:10px;
    margin-right:10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.error-item{
    list-style-type:circle;
    cursor:pointer;
    ul{
        padding:0px;
        margin:0px;
        li{
            padding:0px;
            margin-left:30px;
            label{
                padding:0px;
                margin:0px;
            }
        }
    }
}

.shortRow {
    height: 10px!important;
}

.modal-backdrop {
    background-color: $color-black;
    opacity: .6;
    position: sticky;
}

.modal {
    .modal-dialog {
        .modal-content {
            border-radius: 7px;

            .modal-header {
                background: $color-panel-heading;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                padding: 2px 15px 2px 15px;
                position: relative;

                h4 {
                    color: $color-white;
                    font-size: 1.4em;
                    font-weight: normal;
                    text-decoration: none;
                }

                .close {
                    margin-top: 7px;

                    span {
                        font-size: 1.5em;
                    }
                }
            }

            .modal-body {
                background: $color-white;
            }

            .modal-footer {
                background: $color-gray-light-white;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                padding: 8px 10px 8px;
            }
        }
    }
}

.tabs-bar{
    display: -ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction:row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content:flex-start;
    -webkit-align-content:space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align:start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 48px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.tab{
    margin:0;
    border:none;
    padding: 0 24px;
    float: left;
    position:relative;
    display:block;
    text-decoration:none;
    line-height:48px;
    text-align:center;
    font-weight:500;
    font-size:14px;
    text-transform:uppercase;
    color:rgba(0,0,0,.54);
    overflow:hidden;
}

.tab.is-active:after{
    height:4px;
    width:100%;
    display:block;
    content:" ";
    bottom:0;
    left:0;
    position:absolute;
    background: #3f51b5;
    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1);
    animation: border-expand .2s cubic-bezier(.4,0,.4,1);
    -webkit-transition: all 1s cubic-bezier(.4,0,1,1);
    transition: all 1s cubic-bezier(.4,0,1,1);
}

.widget{
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // width: 50%;
    .widget-title{
        background:#176763;
        height:40px;
        align-content:center;
        .widget-title-text{
            font-family:'Felix Titling';
            font-size:18px;
            text-align:center;
            align-content:center;
            margin:0;
            padding:10px;
            color:$color-white;
            text-transform:uppercase;
        }
    }
    .widget-body{
        height: 250px;
        background:white;
    }
}

.row {
    margin-right: 5px;
    margin-left: 5px;
}

.sebm-google-map-container {
    height: 110px;
}
.sebm-google-map {
    height: 110px;
}
.agm-map {
    height: 110px;
}
.remove-margin{
    margin:0;
}